
body {
    font-family: "Petrona", serif;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../../assets/images/home.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
main.principal-home {
    min-height: 100vh;
}
.div-cadastro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 320px;
    background-color: rgb(245, 234, 207);
    padding: 30px 20px 30px 20px;
    padding-top: 3px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50px;
    box-sizing: border-box;
    margin: auto;
}

section.logo {
    width: 30%;
    padding-left: 4em;
}

section.logo > img {
    width: 100%;
}

h1 {
    font-size: 24px;
    text-align: center;
}

label {
    font-size: 16px; 
    margin: 5px;     
}

input {
    padding: 5px;
    border-radius: 7px;
}

.div-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div-button > button {
    background-color: black;
    border:1px solid black;
    color: #FFFAFA;
    padding: 10px;
    font-size: 15px;
    border-radius: 4px;
    margin-top: 20px;
    cursor: pointer;
    transition-duration: 0.3s;
}

.div-button > a {
    background: transparent;
    border: none;
    font-size: 20px;
    text-decoration: none;
    margin-top: 20px;
    color: #000;
}

footer {
  display: flex;
  justify-content: end;
  align-items: center;
  background: #85865f;
  color: #fff;
  height: 4vh;
  padding-right: 24px;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
}

@media(max-width:780px){
    section.logo {
        width: 100%;
        padding-left: 0;
    }
}