
body {
    font-family: "Petrona", serif;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("../../assets/images/home.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.div-cadastro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    background-color: rgb(245, 234, 207);
    padding: 25px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50px;
    box-sizing: border-box;
    margin: auto;
}

section.logo {
    width: 30%;
    padding-left: 4em;
}

section.logo > img {
    width: 100%;
}

h1 {
    font-size: 24px;
    text-align: center;
}

label {
    font-size: 16px;      
}

.principal {
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.div-button {
    display: flex;
    justify-content: space-between;
}

.div-button > a {
    background: transparent;
    border: none;
    font-size: 20px;
    text-decoration: none;
    color: #000;
}