body{
    background-image: url("../../assets/images/home.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    min-height: 100vh;   
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.principal{
background-color: #F5EACF;
border-radius: 55px;
box-shadow: 1px 3px 31px -7px black;
width: 250px;
padding: 50px;
min-height: 250px;
display: flex;
justify-content: center;
flex-direction: column;

}

#message-error {
    display: none;
    color: red;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    text-align: center;
    margin-bottom: 10px;
}

input{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 7px;
}
.principal > button{
    background-color: black;
    border:1px solid black;
    color: #FFFAFA;
    padding: 10px;
    font-size: 15px;
    border-radius: 4px;
    margin-top: 25px;
    cursor: pointer;
    transition-duration: 0.3s;
}
.principal > button:hover{
    background-color: #424242;
    border:1px solid #424242;
}

.principal > a{
    text-decoration: none ;
    color: black;
    font-size: 15px;
    text-align: center;


}
p{
    color: black;
    margin-top: 30px;
    
}

p > a{
    text-decoration: none ;
    color: #FFFAFA;
    background-color: black;
    padding: 5px;
    border-radius: 4px;
    width: 50px;
    transition-duration: 0.3s;
}

p > a:hover{
    background-color: #424242;
    color: #FFFAFA;
   transition: width 2s linear 1s;
}

.footer{
    color: #FFFAFA ;
    font-size: 18px;
    
}