section.conteudo-principal.unidades {
  width: 30%;
}

.cartoes {
  padding: 2em;
}

.cartoes > div > h1 {
  font-size: 2rem;
}

.cartoes > div > p {
  font-size: 1rem;
}

.principal {
  justify-content: center;
}

section.fotos-unidade {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  overflow-y: hidden;
  padding-top: 40vh;
}

.unidade-imagem {
  width: 100%;
  margin-bottom: 2em;
}

.unidade-imagem > img {
  width: 100%;
}
