section.conteudo-principal.unidades {
  width: 30%;
}

.cartoes {
  padding: 2em;
}

.cartoes > div > h1 {
  font-size: 2rem;
}

.cartoes > div > p {
  font-size: 1rem;
}

.principal {
  justify-content: center;
}

section.fotos-unidade {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  overflow-y: hidden;
  padding-top: 40vh;
}

.unidade-imagem {
  width: 100%;
  margin-bottom: 2em;
}

.unidade-imagem > img {
  width: 100%;
}

@media(max-width: 780px){
  .principal {
    flex-direction: column-reverse;
  }
  section#fotos-unidade {
    justify-content: space-between;
    flex-direction: row;
    width: 1000vw;
    max-width: 100%;
    overflow: auto;
    padding: 0;
  }
  .unidade-imagem {
    margin-bottom: 4em;
  }
  .unidade-imagem > img {
    width: 80vw;
    height: 25vh;
    padding: 0.5em;
  }
  section.conteudo-principal.unidades {
    width: 90%;
    margin: auto;
  }
}