section.conteudo-principal {
  width: 99%;
}

section.conteudo-agendamento {
  margin-top: 4vh;
  margin-bottom: 6vh;
  width: 100vw;
}

.conteudo-principal > div {
  border-radius: 12px;
}

section.barbeiros {
  overflow-y: auto;
  max-height: 80vh;
  padding-bottom: 2vh;
}

.barbeiros::-webkit-scrollbar {
  width: 6px; /* width of the entire scrollbar */
}

.barbeiros::-webkit-scrollbar-track {
  background: transparent; /* color of the tracking area */
}

.barbeiros::-webkit-scrollbar-thumb {
  background-color: #C4C4C4; /* color of the scroll thumb */
  border-radius: 12px; /* roundness of the scroll thumb */
  border: 1px solid #f5eacf; /* creates padding around scroll thumb */
  margin-right: 12px;
}

div.pesquisas {
  align-items: flex-start;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.pesquisas > div {
  margin: 10px 150px  42px 52px;
  display: inline;
  justify-content: space-evenly;
}

input, label {
  display: block;
  font-size: 16px;
}

input{
  border: none;
  box-shadow: 0px 4px 4px rgba(0,0,0, 0.25);
  border-radius: 5px 5px 0px 0px;
  padding: 5px 0px 6px 6px;
  outline: none;
  background-image: url(../../assets/icons/search.svg);
  background-repeat: no-repeat;
  background-position: 200px;
  width: 220px;
}
input::placeholder{
  color: 9E9E9E
}

label{
  text-shadow: 0px 4px 4px rgba(0,0,0, 0.25);
}

div.blocoBarbeiro{
  display:inline-flex;
  padding-left: 4vw;
}

.info > p{
  font-weight: 600;
  font-size: 20;
  line-height: 1rem;
}

p.textoInfo{
  font-weight: 600;
  font-size: 28px;
  text-shadow: 3px 3px 4px rgba(0,0,0, 0.25);
}

button.botaoAgendamento{
  background-color:rgb(83, 140, 161);
  width: 5vw;
  height: 5vh;
  font-size: 3vmin;
  font-weight: 600;
  color:#f5eacf;
  text-shadow: 0px 4px 4px rgba(0,0,0, 0.25);
  border-radius: 0.85vh;
  border: none;
  margin-bottom: 10px;
  margin-right: 10px;
  transition-duration: 0.3s;
  cursor: pointer;
}

.botaoAgendamento:hover{
  background-color:rgba(83, 140, 161, 0.5);
}

div.info{
  display: block;
  width: 28vw;
  padding-right: 2vw;
}

div.dados-agendamento{
  background-color:#f5eacf;
  width: inherit;
  height: 74vh;
}

div.faixa-inferior{
  height: 8vh;
  background-color: #85865F;
  display: flex;
  justify-content: space-between;
  width: inherit;
  align-self: flex-end;
  align-items: center;
}

.faixa-inferior > button{
  color: white;
  border: none;
  background: none;
  font-weight: bold;
  font-size: 4vh;
  text-shadow: 2px 2px 4px rgba(0,0,0, 0.25);
  margin: 0 3vw 0 3vw;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.faixa-inferior > button > img{
  max-height: 7vh;
  max-width: fit-content;
}


.faixa-inferior > strong{
  color: white;
  font-weight: bold;
  font-size: 4vh;
  text-shadow: 2px 2px 4px rgba(0,0,0, 0.25);
}

.info > ul > li{
  font-weight: 600;
  font-size: 20;
}

img{
  width: 20vw;
}

.hidden{
  display: none;
}