body {
  font-family: "Petrona", serif;
  box-sizing: border-box;
  margin: 0;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: gray;
  border: 1px solid transparent;
}

header {
  background: #85865f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
}

nav.menu {
  display: flex;
  align-items: center;
}

nav.menu > hr {
  height: 20px;
  width: 1px;
  border: 1px solid #fff;
  background-color: #fff;
  margin: 0 8px;
}

nav.menu > a,
.login-button {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
}

nav.menu > a:nth-child(4n),
.login-button {
  border: none;
}

nav.menu > a:hover {
  border-bottom: 2px solid;
}

header > button {
  background: none;
  border: none;
  width: 40px;
  height: 40px;
}

header > button > img {
  width: 100%;
}

.principal {
  display: flex;
  justify-content: space-between;
  background-image: url("./assets/images/home.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 92vh;
}

section.logo {
  width: 800px;
  padding: 64px;
}
section.logo > img {
  width: 100%;
}
section.conteudo-principal {
  padding: 64px 32px;
  width: 60%;
}

h1 {
  font-size: 34px;
  text-align: center;
}

.conteudo-principal > div {
  flex-direction: column;
  align-items: center;
  background: rgba(245, 234, 207, 0.9);
  border-radius: 50px;
  overflow: hidden;
}

section.cartoes {
  overflow-y: auto;
  max-height: 65vh;
}

.cartoes::-webkit-scrollbar {
  width: 8px; /* width of the entire scrollbar */
}

.cartoes::-webkit-scrollbar-track {
  background: transparent; /* color of the tracking area */
}

.cartoes::-webkit-scrollbar-thumb {
  background-color: #c4c4c4; /* color of the scroll thumb */
  border-radius: 12px; /* roundness of the scroll thumb */
  border: 1px solid #f5eacf; /* creates padding around scroll thumb */
}

.cartao {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

p.sobre-profissional {
  font-size: 20px;
  margin: 32px;
}

.profissional {
  width: 250px;
  margin: 32px;
  margin-left: 0;
}

footer {
  display: flex;
  justify-content: end;
  align-items: center;
  background: #85865f;
  color: #fff;
  height: 4vh;
  padding-right: 24px;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
}
