.menuprincipal { 
  background-color: #F5EACF; 
  margin-top: 40px; 
  margin-bottom: 80px; 
  width: 100%;
  overflow-y: auto;
  max-height: 78vh;
}

.menuprincipal::-webkit-scrollbar {
  width: 8px; /* width of the entire scrollbar */
}

.menuprincipal::-webkit-scrollbar-track {
  background: transparent; /* color of the tracking area */
}

article{
  height: 180px;
  border-radius: 10px; 
  margin: 16px auto; 
  width: 400px; 
  background: white;
  box-shadow: 0px 4px 6px 0px rgba(166,166,166,0.75);
}

.card {
  display:flex;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 30px;
  margin-left: 150px;
  margin-top: 30px;
}

.grid-item > .fotobarbeiro {
  margin-left: 250px;
  height: 0%;
  width: 0%;
}

.espacocard {
  margin-left: 50px;
}

h1 {
  font-size: 12px;
  Word-spacing: 35px;
  text-align: left;
}

h2 {
  font-size: 9px;
  Word-spacing: 62px;
}

footer {
  display: flex;
  justify-content: end;
  align-items: center;
  background: #85865f;
  color: #fff;
  height: 4vh;
  padding-right: 1.5em;
}