main.principal {
  display: flex;
  justify-content: space-between;
  background-image: url("../../assets/images/home.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 92vh;
}

section.conteudo-principal {
  padding: 4em 2em;
  width: 60%;
}

h1 {
  font-size: 34px;
  text-align: center;
}

.conteudo-principal > div {
  flex-direction: column;
  align-items: center;
  background: #f5eacf;
  border-radius: 50px;
  opacity: 0.9;
  overflow: hidden;
}

p.sobre-profissional {
  font-size: 20px;
  margin: 2em;
}

.profissional {
  width: 25%;
  margin: 2em;
  margin-left: 0;
}

footer {
  display: flex;
  justify-content: end;
  align-items: center;
  background: #85865f;
  color: #fff;
  height: 4vh;
  padding-right: 1.5em;
}

main.principal {
  justify-content: center;
}
